/* Sort Container */
.sort-container {
  position: relative;
  display: inline-block;
}

/* Dropdown Menu */
.sort-container .dropdown {
    position: absolute;
    top: calc(100% + 10px); /* Spaced below the button */
    left: 0;
    /* background-color: #ffffff; */
    /* border: 1px solid #d3d3d3; */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 154px;
    z-index: 10;
    overflow: hidden;
    animation: fadeIn 0.3s ease;
}

/* Dropdown Item */
.sort-container .dropdown-item {
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sort-container .dropdown-item:hover {
  background-color: #f5f5f5;
}
